$primary: LightGray;
$body-bg: Azure;

@import "~bootstrap/scss/bootstrap.scss";

.back-button {
  padding: 4px 12px 4px 12px;
  margin: 5px;
  color: black;
  background-color: LightGray;
  border: none;
  text-decoration: none;
  border-radius: 4px;
}
